.btn-book-online {
    background-image: linear-gradient(90deg, #da3287, #ffde5e);
    border-radius: 16px;
    margin-right: 10px;
}

.middel-content{
    text-align: left;
    padding-top: 60px;
}

.work-space h2{
    font-size: 36px;
    color: #333333;
    font-weight: 600;
    line-height: 1.5em;
    text-transform: capitalize;
    letter-spacing: 1px;
    position: relative;
    margin-bottom: 2rem;
}

.middel-content p{
    margin: 0px!important;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 0px;
}