.EnquryForm2 .enquryButton, .EnquryForm2 .enquryButton:hover{
    position: fixed;
    right: 0px;
    background: #00afb8;
    font-size: 24px;
    color: #fff;
    bottom: 170px;
    z-index: 1;
    min-width: auto;
    padding: 7px 8px;
    border: none;
    z-index: 100;
}
#SupplierForm .MuiBackdrop-root{
    display: none!important;
}

#SupplierForm .MuiDialog-container div:nth-child(1){
    background: #00afb8;
    color: #fff;
}
#SupplierForm .divider{
    border-color: #fff;
}

#SupplierForm .ParentButton button{
    background-color: #ef8822;
    color: #fff;
    margin: 0rem 1rem 2rem;
    border-radius: 4px;
    padding: 12px 20px;
}
#SupplierForm .ParentButton button:hover{
    background-color: #ef8822;
    color: #fff;
}  
#SupplierForm .EmiInputs{
    width: 48%;
    margin-right: 2%;
    margin-bottom: 2rem;
}     

#customized-dialog-title{
    color: seashell;
    font-weight: bolder;
    font-size: 20px;
}

#customized-dialog-title button{
    top: 0px;
    right: 0px;
    border-radius: 0px;
    background-color: #ef8822;
    color: #fff;
}

#SupplierForm .selectInput select{
    margin-top: 1rem;
    border: 1px solid #fff;
    padding: 15px;
    border-radius: 4px;
    color: #fff;
}
#SupplierForm .selectInput select option{
    color: #000;
}
#SupplierForm .MuiInput-underline:before, #SupplierForm .MuiInput-underline:hover, #SupplierForm .MuiInput-underline:active{
    content: '';
    border-bottom:0px;
    position: relative;
}


#SupplierForm{
    background-color: #03b2cb;
    padding:20px;
}
#SupplierForm .ParentButton button:disabled{
    background-color: #aeb2b3;
    color: rgb(17, 16, 16);
    margin-top: 1rem;
    border-radius: 4px;
    padding: 5px 20px;
    text-align: right;
}