
.tabs button.MuiButtonBase-root {
	font-size: 16px;
	padding: 10px 20px;
	text-transform: uppercase;
	color: #252525;
	border-radius: 10px;
	min-width: auto;
	line-height: 24px;
	min-height: auto;
	opacity: 1;
	font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.tabs button.MuiButtonBase-root:hover {
	color: #00afb8;
}
.tabs .MuiTab-textColorInherit.Mui-selected {
	background-color: #00afb8;
	color: #ffffff;
	text-decoration: none;
}
.tabs .MuiTab-textColorInherit.Mui-selected:hover  {	
	color: #ffffff;	
}
.tabs .MuiTabs-indicator {
	display: none;
}
.tab-content > .MuiBox-root {
	padding: 20px 0 0;
}
@media only screen and (max-width: 767px) {
	.tabs button.MuiButtonBase-root {
		font-size: 14px;
		padding: 7px 20px;	
	}
}