* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.bannerContainer {
  /* position: absolute; */
  /* top: 46%;
    left: 5%; */
  text-align: center;
  background-color: #03b2cb;
}
.bannerContainer .bannerh2 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 50px;
}
.bannerContainer .bannerh3 {
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  text-transform: capitalize;
  font-size: 34px;
}
.bannerancr {
  position: relative;
  display: inline-block;
  color: #fff;
  font-size: 12px;
  padding: 0 10px;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
}
.bannerContainer .bannerancr {
  text-align: center;
}
.bannerContainer .bannerancr a {
  color: #fff;
  text-decoration: none;
}
.bannerContainer .bannerancr p {
  display: inline;
  padding: 0 10px;
  color: #fff;
}
@media only screen and (min-width: 768px) {
  .onlineFormHeader {
    align-items: center;
    /* background-color: #e0a8a6, */
  }
  .bannerContainer {
    position: absolute;
    top: 46%;
    justify-content: center;
    /* left: 5%; */
    text-align: center;
    background-color: transparent;
  }
}
