.text-input-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        border: 1px solid #000000;
        border-radius: 5px;
        background-color: #FF0000;
        padding: 5px;
}