.about-block-item {
  margin-bottom: 40px;
}
.about-block-image {
  position: relative;
  margin-right: -100px;
}
.about-block-left-content .about-block-image {
  margin-left: -100px;
  margin-right: 0;
}
.about-block-content {
  background-color: #ff7600;
  color: #fff;
  padding: 30px;
  position: relative;
  z-index: 2;
}
.about-block-content h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.about-block-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0;
}
.about-page-item {
  margin-bottom: 40px;
}
.about-page-content h4 {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #00afb8;
  margin-bottom: 10px;
}
.about-page-content h3 {
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  color: #ff7600;
  margin-bottom: 20px;
}
.about-page-content h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  color: #ff7600;
  margin-bottom: 7px;
  margin-top: 7px;
}
.about-page-content p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #777777;
  line-height: 24px;
  letter-spacing: 0;
}
.about-page-content p + p {
  margin-top: 15px;
}
.about-whyus-item .about-page-content p {
  line-height: 28px;
}
.about-page-content p + ul {
  margin-top: 10px;
}
.about-page-content ul {
  padding-left: 15px;
}
.about-page-content ul li {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #777777;
  line-height: 24px;
  letter-spacing: 0;
  margin-bottom: 7px;
}
.invest-items-wrapper {
  background-color: #f5f5f5;
  padding: 50px 0;
}
.invest-item {
  text-align: center;
  margin: 15px 0;
}
.invest-icon {
  background: #00afb8;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0 auto 15px;
  display: flex;
  align-items: center;
  font-size: 40px;
  color: #ffffff;
}
.invest-icon svg {
  margin: 0 auto;
  width: 40px;
  height: 40px;
}
.invest-item h4 {
  color: #202020;
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  line-height: normal;
  margin-bottom: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
.invest-item p {
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  line-height: 24px;
  color: #777777;
  letter-spacing: 0;
}
.finance-form-block {
  position: absolute;
  top: 0;
  margin: auto;
  left: 0;
  right: 0;
  width: 100%;
  max-width: 360px;
  bottom: 0;
  display: flex;
  align-items: center;
}
.finance-form {
  background: rgb(0 0 0 / 77%);
  padding: 20px 20px 20px;
  color: #fff;
}
.social_links {
  display: block;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  background: #00afb8;
  border-radius: 50%;
  color: #fff;
  margin-bottom: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: all ease-in-out 0.5s;
  background: linear-gradient(-45deg, #ffa63d, #ff3d77, #338aff, #3cf0c5);
  background-size: 600%;
  -webkit-animation: anime 16s linear infinite;
  animation: anime 6s linear infinite;
}
.hidden-menu {
  position: absolute;
  bottom: 114px;
  left: 3px;
}
.fixed-social a {
  color: #fff;
  display: block;
  height: 40px;
  position: relative;
  text-align: center;
  line-height: 40px;
  width: 40px;
  margin-bottom: 1px;
  z-index: 2;
  border-radius: 50%;
}
@-webkit-keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}
.finance-bank-section {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100%;
  padding: 20px;
}
.finance-bank-section::before,
.finance-bank-section::after {
  background: linear-gradient(to right, white 0%, rgba(255, 255, 255, 0) 100%);
  content: "";
  height: 100px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.finance-bank-section::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}
.finance-bank-section::before {
  left: 0;
  top: 0;
}
.finance-bank-outer {
  -webkit-animation: scroll 40s linear infinite;
  animation: scroll 40s linear infinite;
  display: flex;
  width: calc(250px * 14);
}
.finance-bank-wrap {
  height: 100px;
  width: 250px;
  margin: 0 20px;
  display: flex;
  align-items: center;
}
.fixed-social a:hover {
  opacity: 0.5;
}
.fixed-facebook {
  background-color: #256dff;
}
.fixed-twitter {
  background-color: #00c3fd;
}
.fixed-gplus {
  background-color: #ff1905;
}
.fixed-linkedin {
  background-color: #00a4ff;
}
.fixed-instagrem {
  background-color: #ff0300;
}
.fixed-tumblr {
  background-color: #2392fd;
}
@media only screen and (max-width: 991px) {
  .about-block-image {
    margin-right: 0;
  }
  .about-block-left-content .about-block-image {
    margin-left: 0;
  }
  .invest-items-wrapper {
    padding: 30px 0;
  }
}
@media only screen and (max-width: 767px) {
  .finance-form-block {
    position: static;
    max-width: 100%;
    margin-top: 15px;
  }
  .finance-bank-wrap {
    height: 70px;
    width: 180px;
    margin: 0 10px;
  }
}
